<footer class="footer text-center py-4 mt-auto">
    <div class="container">
        <div class="row">
            <h6 class="mb-1 ">© 2025
                <strong class="brittany"> Carolina Muñoz</strong>
            </h6>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <a class="link-button whatsapp jojoba" href="https://wa.me/524448017241" target="_blank">
                    <img src="../../../assets/whats.png" style="width: 35px; margin-top: -3px;"> WhatsApp
                </a>
            </div>
            <div class="col-4">
                <a class="link-button instagram jojoba" href="https://www.instagram.com/visacarolina?igsh=cjkzY3YzN2N6a2Zw" target="_blank">
                    <img src="../../../assets/insta.png" style="width: 35px; margin-top: -3px;"> Instagram
                </a>
            </div>
            <div class="col-4">
                <a class="link-button facebook jojoba" href="https://www.facebook.com/profile.php?id=61571220375642" target="_blank">
                    <img src="../../../assets/facebook.png" style="width: 35px; margin-top: -3px;"> Facebook
                </a>
            </div>
        </div>
        <hr>
        <p class="small mb-1">Hecho con 💚 por Anibal Andrade</p>
        <div class="mt-4">
            <a routerLink="/avisos" class="txtcolor small">Aviso de privacidad y términos de uso</a>
        </div>
    </div>
</footer>