.curso-detalle-section {
    background-color: #efe8e7;
    .curso-detalle-img-wrapper {
        max-width: 360px;
        margin: 0 auto;
    }
    .modulo-card {
        border-radius: 1.2rem;
        background-color: #f6f5ef;
        border: 2px solid #ddc5bb;
    }
}