<section class="hero d-flex flex-column justify-content-center text-center text-white">
    <div class="overlay"></div>

    <div class="container position-relative z-1 card-blur">
        <h1 class="brittany my-2">Carolina Muñoz</h1>

        <h1 class="display-4 bold600 boho" style="color: black;">Viaja sin preocupaciones</h1>
        <p class="fcolor mb-4" style="font-size: 2em; font-weight: 600;">Nosotros te ayudamos con tu visa y organizamos tu viaje a donde sueñas.</p>
        <a href="/contacto" class="btn btn-success">Solicita tu asesoría</a>
    </div>
</section>

<section class="features py-5">
    <div class="container">
        <h1 class="text-center tcolor boho bold600 fontsize2 spacing">¿Qué ofrecemos?</h1>
        <div class="row g-4 text-center">
            <div class="col-md-4">
                <h3 class="boho bold700 spacing subcolor">Asesoría en Visas Americanas</h3>
                <p class="txtcolor">Desde llenado del formulario hasta agendar tu cita. Precios accesibles y atención personalizada.</p>
            </div>
            <div class="col-md-4">
                <h3 class="boho bold700 spacing subcolor">Orientación para tramitar tu pasaporte</h3>
                <p class="txtcolor">Agendamos tu cita para el tramite del pasaporte, revisamos los documntos contigo ya sea para primera vez o renovación</p>
            </div>
            <div class="col-md-4">
                <h3 class="boho bold700 spacing subcolor">Te Ayudamos con la ETA</h3>
                <p class="txtcolor">Contamos con la experiencia para ayudarte a tramitar la ETA para poder ingresar a Canadá o Reino Unido</p>
            </div>
            <!--  <div class="col-md-4">
                <h3 class="boho bold600 spacing">Viajes a precios de proveedor</h3>
                <p>Organizamos tu viaje completo con descuentos exclusivos.</p>
            </div>
            <div class="col-md-4">
                <h5>Tu propia agencia</h5>
                <p>Comienza a ganar dinero vendiendo viajes desde casa. Nosotros te capacitamos.</p>
            </div> -->
        </div>
    </div>
</section>

<section class="testimonios py-5">
    <div class="container">
        <h1 class="text-center tcolor boho bold600 fontsize2 spacing">Lo que dicen nuestros clientes</h1>

        <div id="carouselTestimonios" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <blockquote class="blockquote text-center">
                        <p class="mb-4 fcolor">"Excelente atención. Me ayudaron con toda la cita para la visa sin complicaciones."</p>
                        <footer class="blockquote-footer">María G. <cite title="Source Title">CDMX</cite></footer>
                    </blockquote>
                </div>

                <div class="carousel-item">
                    <blockquote class="blockquote text-center">
                        <p class="mb-4 fcolor">"Recomendadísimos. Me consiguieron hotel, vuelo y tour a muy buen precio."</p>
                        <footer class="blockquote-footer">Carlos T. <cite title="Source Title">Guadalajara</cite></footer>
                    </blockquote>
                </div>

                <div class="carousel-item">
                    <blockquote class="blockquote text-center">
                        <p class="mb-4 fcolor">"Mi hijo necesitaba visa urgente y ellos me resolvieron todo en pocos días."</p>
                        <footer class="blockquote-footer">Patricia R. <cite title="Source Title">Querétaro</cite></footer>
                    </blockquote>
                </div>

                <div class="carousel-item">
                    <blockquote class="blockquote text-center">
                        <p class="mb-4 fcolor">"Súper confiables. Me sentí acompañada en todo el proceso."</p>
                        <footer class="blockquote-footer">Ana F. <cite title="Source Title">Toluca</cite></footer>
                    </blockquote>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonios" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonios" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
        </div>
    </div>
</section>